*{box-sizing: border-box;}

/*======================================== HEADER ======================================================*/
/*#region HEADER */
 .header-menu {background:transparent; padding-left:1vh; height:70px;;}
.header-menu .vertical-scroll {white-space: nowrap;overflow-x: auto;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar;}
/* .header-menu, nav {font-size: 16px;} */
 .header-menu nav {width: calc(80vw  - 100px);} 
.header-menu .logo, .nav-item {font-size: 14px;} 
.header-menu .logo {width:10px;padding-left: 10px; padding-top:0px;} 
.header-menu .logo, .nav-item, .vertical-align-middle {display: inline-block;padding-top:0px;position:relative; /*overflow:hidden*/}
/* .header-menu .nav-item a:hover{border-bottom: 2px #ffffff solid} */
/* .header-menu .nav-item:not(:last-child):after{content: ""; position: relative; left: 8px; color:#aac2d8} */


.header-menu .vertical-scroll::-webkit-scrollbar {
    display: none;
}
@media only screen and (max-width: 576px) {.header-menu .vertical-scroll::-webkit-scrollbar {display: none;}
.header-menu nav {width: calc(90vw  - 50px);} 
/* .header-menu .logo, .nav-item {font-size: 14px;}  */
.header-menu .logo {width:10px;padding-left: 10px; padding-top:1px;} 
 }
 @media only screen and (max-width: 776px) {.header-menu .vertical-scroll::-webkit-scrollbar {display: none;}
 .header-menu nav {width: calc(90vw  - 100px);} 
 /* .header-menu .logo, .nav-item {font-size: 14px;}  */
.header-menu .logo {width:10px;padding-left: 10px; padding-top:1px;} 
 }

/* .header-menu .nav-item:not(:last-child) {border-right: 1px solid #ffffff;} */
/*#endregion */
/*======================================================================================================*/



/*====================================== BREADCRUMP ====================================================*/
/*#region name */
.breadcrumb {font-size: 10px!important; font-family: 'Raleway', sans-serif!important;background-color: #f0f0f0!important;border-bottom: 1px solid #c8cacb!important;}
.breadcrumb-item.active {color: black!important}
.breadcrumb-item a:hover {color: #337ab6!important}
.breadcrumb-item + .breadcrumb-item::before {display: inline-block!important;padding-right: 0.1rem!important;padding-left: 0.1rem!important;color: #6c757d!important;content: ">"!important;}
/*#endregion */
/*======================================================================================================*/




/*======================================= HAMBURGER ====================================================*/
/*#region HAMBURGER */
:root {--color-black: #337ab6;}

.hidden {visibility: hidden;position: absolute;width: 0;height: 0; }
.burger {display: block;position: relative;width: 2rem;height: 1.6rem;background-color: #ffffff;/*margin: 0.5rem;*/}
.burger span {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;position: absolute;margin: 0.0625rem auto 0.525rem -0.75rem;text-indent: -999em;top: 50%;left: 50%;/*margin-top: -0.0625rem;*/cursor: pointer;}
.burger span, .burger span:before, .burger span:after {display: block;width: 1.5rem;height: 0.125rem;background-color: var(--color-black);transition: 0.3s;opacity: 1;}
.burger span:before, .burger span:after {position: absolute;content: "";}
.burger span:before {top: -0.525rem;}
.burger span:after {top: 0.525rem;}
.manu-link-burger {display: flex;}

.burger-style input:checked + span:before, .burger-style input:checked + span:after {top: 0px;margin-top: -0.5875rem;}
.burger-style input:checked + span {transform: rotate(-360deg);background-color: transparent;}
.burger-style input:checked + span:before {transform: translateY(0.525rem) rotate(-45deg);}
.burger-style input:checked + span:after {transform: translateY(0.525rem) rotate(45deg);}

@-webkit-keyframes menuCloseMiddle--base {
0% {background-color: black;}
80% {background-color: black;}
100% {background-color: rgba(0, 0, 0, 0);}
}
@keyframes menuCloseMiddle--base {
0% {background-color: black;}
80% {background-color: black;}
100% {background-color: rgba(0, 0, 0, 0);}
}
@-webkit-keyframes menuCloseMiddle--after {
0% {transform: translateY(0) rotate(0);}
80% {transform: translateY(0.525rem) rotate(0);
}
100% {transform: translateY(0.525rem) rotate(45deg);}
}
@keyframes menuCloseMiddle--after {
0% {transform: translateY(0) rotate(0);}
80% {transform: translateY(0.525rem) rotate(0);}
100% {transform: translateY(0.525rem) rotate(45deg);}
}
@-webkit-keyframes menuCloseMiddle--before {
0% {transform: translateY(0) rotate(0);}
80% {transform: translateY(0.525rem) rotate(0);}
100% {transform: translateY(0.525rem) rotate(-45deg);}
}
@keyframes menuCloseMiddle--before {
0% {
transform: translateY(0) rotate(0);
}
80% {transform: translateY(0.525rem) rotate(0);}
100% {transform: translateY(0.525rem) rotate(-45deg);}
}
.description {width: 100%;text-align: center;color: rgba(0, 0, 0, 0.25);}
/*#endregion */
/*======================================================================================================*/

















/*======================================== SCROLLBAR ===================================================*/
/*#region SCROLLBAR */

/*#endregion */
/*======================================================================================================*/


  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  
  }
  .icerik {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    /* padding-top: 56.25%; 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  

  .story {
    position:absolute;
    margin-top:2px;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50px;
    height:50px;
    overflow:hidden;
  }
  .story img {
    width:40px;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .story svg {
    fill:none;
    stroke:#8dd80a;
    stroke-width:4px;
    stroke-dasharray:1;
    stroke-dashoffset:0;
    stroke-linecap:round;
    animation:loading 4500ms ease-in-out infinite alternate;
  }
  @keyframes loading {
    100% {
      stroke:#a70f04;
      stroke-dasharray:10;
      transform:rotate(200deg);
    }
  }
  

  /* sağ menu arama css */
  /* Style the search box */
#mySearch {
 color:rgb(7, 1, 47);

}

/* Style the navigation menu */


/* Style the navigation links */


#myMenu li a:hover {
  background-color: #eee;
}


  /* sag menü arama css sonu */